[profile.default]
src = "src"
out = "out"
libs = ["lib"]
remappings = [
    "eas-contracts/=lib/eas-contracts/",
    "forge-std/=lib/forge-std/src/",
    "@openzeppelin/contracts/=lib/openzeppelin-contracts/contracts/"
]
solc_version = "0.8.26"
evm_version = "cancun"
optimizer = true
optimizer_runs = 200

[fuzz]
runs = 512
